/*!
Theme Name: Sliced Theme
Author: SlicedLime
Author URI: http://slicedlime.net
*/
* {
  box-sizing: border-box; }

html {
  font-family: Arial, Helvetica, sans-serif; }

.row, ul[class*="-block-grid-"] {
  *zoom: 1; }
  .row:before, ul[class*="-block-grid-"]:before, .row:after, ul[class*="-block-grid-"]:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */ }
  .row:after, ul[class*="-block-grid-"]:after {
    clear: both; }

@media screen and (min-width: 0em) {
  .small-1 {
    width: 7.90698%; }

  .small-2 {
    width: 16.27907%; }

  .small-3 {
    width: 24.65116%; }

  .small-4 {
    width: 33.02326%; }

  .small-5 {
    width: 41.39535%; }

  .small-6 {
    width: 49.76744%; }

  .small-7 {
    width: 58.13953%; }

  .small-8 {
    width: 66.51163%; }

  .small-9 {
    width: 74.88372%; }

  .small-10 {
    width: 83.25581%; }

  .small-11 {
    width: 91.62791%; }

  .small-12 {
    width: 100%; } }
@media screen and (min-width: 40em) {
  .medium-1 {
    width: 7.90698%; }

  .medium-2 {
    width: 16.27907%; }

  .medium-3 {
    width: 24.65116%; }

  .medium-4 {
    width: 33.02326%; }

  .medium-5 {
    width: 41.39535%; }

  .medium-6 {
    width: 49.76744%; }

  .medium-7 {
    width: 58.13953%; }

  .medium-8 {
    width: 66.51163%; }

  .medium-9 {
    width: 74.88372%; }

  .medium-10 {
    width: 83.25581%; }

  .medium-11 {
    width: 91.62791%; }

  .medium-12 {
    width: 100%; } }
@media screen and (min-width: 64em) {
  .large-1 {
    width: 7.90698%; }

  .large-2 {
    width: 16.27907%; }

  .large-3 {
    width: 24.65116%; }

  .large-4 {
    width: 33.02326%; }

  .large-5 {
    width: 41.39535%; }

  .large-6 {
    width: 49.76744%; }

  .large-7 {
    width: 58.13953%; }

  .large-8 {
    width: 66.51163%; }

  .large-9 {
    width: 74.88372%; }

  .large-10 {
    width: 83.25581%; }

  .large-11 {
    width: 91.62791%; }

  .large-12 {
    width: 100%; } }
@media screen and (min-width: 90em) {
  .xlarge-1 {
    width: 7.90698%; }

  .xlarge-2 {
    width: 16.27907%; }

  .xlarge-3 {
    width: 24.65116%; }

  .xlarge-4 {
    width: 33.02326%; }

  .xlarge-5 {
    width: 41.39535%; }

  .xlarge-6 {
    width: 49.76744%; }

  .xlarge-7 {
    width: 58.13953%; }

  .xlarge-8 {
    width: 66.51163%; }

  .xlarge-9 {
    width: 74.88372%; }

  .xlarge-10 {
    width: 83.25581%; }

  .xlarge-11 {
    width: 91.62791%; }

  .xlarge-12 {
    width: 100%; } }
@media screen and (min-width: 120em) {
  .xxlarge-1 {
    width: 7.90698%; }

  .xxlarge-2 {
    width: 16.27907%; }

  .xxlarge-3 {
    width: 24.65116%; }

  .xxlarge-4 {
    width: 33.02326%; }

  .xxlarge-5 {
    width: 41.39535%; }

  .xxlarge-6 {
    width: 49.76744%; }

  .xxlarge-7 {
    width: 58.13953%; }

  .xxlarge-8 {
    width: 66.51163%; }

  .xxlarge-9 {
    width: 74.88372%; }

  .xxlarge-10 {
    width: 83.25581%; }

  .xxlarge-11 {
    width: 91.62791%; }

  .xxlarge-12 {
    width: 100%; } }
@media screen and (min-width: 0em) {
  .row {
    width: 0em;
    margin-left: auto;
    margin-right: auto; } }
@media screen and (min-width: 40em) {
  .row {
    width: 40em;
    margin-left: auto;
    margin-right: auto; } }
@media screen and (min-width: 64em) {
  .row {
    width: 64em;
    margin-left: auto;
    margin-right: auto; } }
@media screen and (min-width: 90em) {
  .row {
    width: 90em;
    margin-left: auto;
    margin-right: auto; } }
@media screen and (min-width: 120em) {
  .row {
    width: 120em;
    margin-left: auto;
    margin-right: auto; } }

.row {
  padding: 0 1em; }
  .row > .column, .row > .columns {
    float: left;
    display: block; }
    .row > .column:last-of-type, .row > .columns:last-of-type {
      float: right; }
    .row > .column.end, .row > .columns.end {
      float: left; }
  .row .row {
    margin-left: 0;
    margin-right: 0;
    width: 100%; }

ul[class*="-block-grid-"] {
  padding-left: 0; }

.small-block-grid-1 > li {
  list-style: none;
  padding: 0 0.5em 1em;
  width: 100%;
  float: left; }
  .small-block-grid-1 > li:nth-of-type(1n) {
    clear: none; }
  .small-block-grid-1 > li:nth-of-type(1n+1) {
    clear: both; }

.small-block-grid-2 > li {
  list-style: none;
  padding: 0 0.5em 1em;
  width: 50%;
  float: left; }
  .small-block-grid-2 > li:nth-of-type(1n) {
    clear: none; }
  .small-block-grid-2 > li:nth-of-type(2n+1) {
    clear: both; }

.small-block-grid-3 > li {
  list-style: none;
  padding: 0 0.5em 1em;
  width: 33.33333%;
  float: left; }
  .small-block-grid-3 > li:nth-of-type(1n) {
    clear: none; }
  .small-block-grid-3 > li:nth-of-type(3n+1) {
    clear: both; }

.small-block-grid-4 > li {
  list-style: none;
  padding: 0 0.5em 1em;
  width: 25%;
  float: left; }
  .small-block-grid-4 > li:nth-of-type(1n) {
    clear: none; }
  .small-block-grid-4 > li:nth-of-type(4n+1) {
    clear: both; }

.small-block-grid-5 > li {
  list-style: none;
  padding: 0 0.5em 1em;
  width: 20%;
  float: left; }
  .small-block-grid-5 > li:nth-of-type(1n) {
    clear: none; }
  .small-block-grid-5 > li:nth-of-type(5n+1) {
    clear: both; }

.small-block-grid-6 > li {
  list-style: none;
  padding: 0 0.5em 1em;
  width: 16.66667%;
  float: left; }
  .small-block-grid-6 > li:nth-of-type(1n) {
    clear: none; }
  .small-block-grid-6 > li:nth-of-type(6n+1) {
    clear: both; }

.small-block-grid-7 > li {
  list-style: none;
  padding: 0 0.5em 1em;
  width: 14.28571%;
  float: left; }
  .small-block-grid-7 > li:nth-of-type(1n) {
    clear: none; }
  .small-block-grid-7 > li:nth-of-type(7n+1) {
    clear: both; }

.small-block-grid-8 > li {
  list-style: none;
  padding: 0 0.5em 1em;
  width: 12.5%;
  float: left; }
  .small-block-grid-8 > li:nth-of-type(1n) {
    clear: none; }
  .small-block-grid-8 > li:nth-of-type(8n+1) {
    clear: both; }

.small-block-grid-9 > li {
  list-style: none;
  padding: 0 0.5em 1em;
  width: 11.11111%;
  float: left; }
  .small-block-grid-9 > li:nth-of-type(1n) {
    clear: none; }
  .small-block-grid-9 > li:nth-of-type(9n+1) {
    clear: both; }

.small-block-grid-10 > li {
  list-style: none;
  padding: 0 0.5em 1em;
  width: 10%;
  float: left; }
  .small-block-grid-10 > li:nth-of-type(1n) {
    clear: none; }
  .small-block-grid-10 > li:nth-of-type(10n+1) {
    clear: both; }

.small-block-grid-11 > li {
  list-style: none;
  padding: 0 0.5em 1em;
  width: 9.09091%;
  float: left; }
  .small-block-grid-11 > li:nth-of-type(1n) {
    clear: none; }
  .small-block-grid-11 > li:nth-of-type(11n+1) {
    clear: both; }

.small-block-grid-12 > li {
  list-style: none;
  padding: 0 0.5em 1em;
  width: 8.33333%;
  float: left; }
  .small-block-grid-12 > li:nth-of-type(1n) {
    clear: none; }
  .small-block-grid-12 > li:nth-of-type(12n+1) {
    clear: both; }

.medium-block-grid-1 > li {
  list-style: none;
  padding: 0 0.5em 1em;
  width: 100%;
  float: left; }
  .medium-block-grid-1 > li:nth-of-type(1n) {
    clear: none; }
  .medium-block-grid-1 > li:nth-of-type(1n+1) {
    clear: both; }

.medium-block-grid-2 > li {
  list-style: none;
  padding: 0 0.5em 1em;
  width: 50%;
  float: left; }
  .medium-block-grid-2 > li:nth-of-type(1n) {
    clear: none; }
  .medium-block-grid-2 > li:nth-of-type(2n+1) {
    clear: both; }

.medium-block-grid-3 > li {
  list-style: none;
  padding: 0 0.5em 1em;
  width: 33.33333%;
  float: left; }
  .medium-block-grid-3 > li:nth-of-type(1n) {
    clear: none; }
  .medium-block-grid-3 > li:nth-of-type(3n+1) {
    clear: both; }

.medium-block-grid-4 > li {
  list-style: none;
  padding: 0 0.5em 1em;
  width: 25%;
  float: left; }
  .medium-block-grid-4 > li:nth-of-type(1n) {
    clear: none; }
  .medium-block-grid-4 > li:nth-of-type(4n+1) {
    clear: both; }

.medium-block-grid-5 > li {
  list-style: none;
  padding: 0 0.5em 1em;
  width: 20%;
  float: left; }
  .medium-block-grid-5 > li:nth-of-type(1n) {
    clear: none; }
  .medium-block-grid-5 > li:nth-of-type(5n+1) {
    clear: both; }

.medium-block-grid-6 > li {
  list-style: none;
  padding: 0 0.5em 1em;
  width: 16.66667%;
  float: left; }
  .medium-block-grid-6 > li:nth-of-type(1n) {
    clear: none; }
  .medium-block-grid-6 > li:nth-of-type(6n+1) {
    clear: both; }

.medium-block-grid-7 > li {
  list-style: none;
  padding: 0 0.5em 1em;
  width: 14.28571%;
  float: left; }
  .medium-block-grid-7 > li:nth-of-type(1n) {
    clear: none; }
  .medium-block-grid-7 > li:nth-of-type(7n+1) {
    clear: both; }

.medium-block-grid-8 > li {
  list-style: none;
  padding: 0 0.5em 1em;
  width: 12.5%;
  float: left; }
  .medium-block-grid-8 > li:nth-of-type(1n) {
    clear: none; }
  .medium-block-grid-8 > li:nth-of-type(8n+1) {
    clear: both; }

.medium-block-grid-9 > li {
  list-style: none;
  padding: 0 0.5em 1em;
  width: 11.11111%;
  float: left; }
  .medium-block-grid-9 > li:nth-of-type(1n) {
    clear: none; }
  .medium-block-grid-9 > li:nth-of-type(9n+1) {
    clear: both; }

.medium-block-grid-10 > li {
  list-style: none;
  padding: 0 0.5em 1em;
  width: 10%;
  float: left; }
  .medium-block-grid-10 > li:nth-of-type(1n) {
    clear: none; }
  .medium-block-grid-10 > li:nth-of-type(10n+1) {
    clear: both; }

.medium-block-grid-11 > li {
  list-style: none;
  padding: 0 0.5em 1em;
  width: 9.09091%;
  float: left; }
  .medium-block-grid-11 > li:nth-of-type(1n) {
    clear: none; }
  .medium-block-grid-11 > li:nth-of-type(11n+1) {
    clear: both; }

.medium-block-grid-12 > li {
  list-style: none;
  padding: 0 0.5em 1em;
  width: 8.33333%;
  float: left; }
  .medium-block-grid-12 > li:nth-of-type(1n) {
    clear: none; }
  .medium-block-grid-12 > li:nth-of-type(12n+1) {
    clear: both; }

.large-block-grid-1 > li {
  list-style: none;
  padding: 0 0.5em 1em;
  width: 100%;
  float: left; }
  .large-block-grid-1 > li:nth-of-type(1n) {
    clear: none; }
  .large-block-grid-1 > li:nth-of-type(1n+1) {
    clear: both; }

.large-block-grid-2 > li {
  list-style: none;
  padding: 0 0.5em 1em;
  width: 50%;
  float: left; }
  .large-block-grid-2 > li:nth-of-type(1n) {
    clear: none; }
  .large-block-grid-2 > li:nth-of-type(2n+1) {
    clear: both; }

.large-block-grid-3 > li {
  list-style: none;
  padding: 0 0.5em 1em;
  width: 33.33333%;
  float: left; }
  .large-block-grid-3 > li:nth-of-type(1n) {
    clear: none; }
  .large-block-grid-3 > li:nth-of-type(3n+1) {
    clear: both; }

.large-block-grid-4 > li {
  list-style: none;
  padding: 0 0.5em 1em;
  width: 25%;
  float: left; }
  .large-block-grid-4 > li:nth-of-type(1n) {
    clear: none; }
  .large-block-grid-4 > li:nth-of-type(4n+1) {
    clear: both; }

.large-block-grid-5 > li {
  list-style: none;
  padding: 0 0.5em 1em;
  width: 20%;
  float: left; }
  .large-block-grid-5 > li:nth-of-type(1n) {
    clear: none; }
  .large-block-grid-5 > li:nth-of-type(5n+1) {
    clear: both; }

.large-block-grid-6 > li {
  list-style: none;
  padding: 0 0.5em 1em;
  width: 16.66667%;
  float: left; }
  .large-block-grid-6 > li:nth-of-type(1n) {
    clear: none; }
  .large-block-grid-6 > li:nth-of-type(6n+1) {
    clear: both; }

.large-block-grid-7 > li {
  list-style: none;
  padding: 0 0.5em 1em;
  width: 14.28571%;
  float: left; }
  .large-block-grid-7 > li:nth-of-type(1n) {
    clear: none; }
  .large-block-grid-7 > li:nth-of-type(7n+1) {
    clear: both; }

.large-block-grid-8 > li {
  list-style: none;
  padding: 0 0.5em 1em;
  width: 12.5%;
  float: left; }
  .large-block-grid-8 > li:nth-of-type(1n) {
    clear: none; }
  .large-block-grid-8 > li:nth-of-type(8n+1) {
    clear: both; }

.large-block-grid-9 > li {
  list-style: none;
  padding: 0 0.5em 1em;
  width: 11.11111%;
  float: left; }
  .large-block-grid-9 > li:nth-of-type(1n) {
    clear: none; }
  .large-block-grid-9 > li:nth-of-type(9n+1) {
    clear: both; }

.large-block-grid-10 > li {
  list-style: none;
  padding: 0 0.5em 1em;
  width: 10%;
  float: left; }
  .large-block-grid-10 > li:nth-of-type(1n) {
    clear: none; }
  .large-block-grid-10 > li:nth-of-type(10n+1) {
    clear: both; }

.large-block-grid-11 > li {
  list-style: none;
  padding: 0 0.5em 1em;
  width: 9.09091%;
  float: left; }
  .large-block-grid-11 > li:nth-of-type(1n) {
    clear: none; }
  .large-block-grid-11 > li:nth-of-type(11n+1) {
    clear: both; }

.large-block-grid-12 > li {
  list-style: none;
  padding: 0 0.5em 1em;
  width: 8.33333%;
  float: left; }
  .large-block-grid-12 > li:nth-of-type(1n) {
    clear: none; }
  .large-block-grid-12 > li:nth-of-type(12n+1) {
    clear: both; }

.xlarge-block-grid-1 > li {
  list-style: none;
  padding: 0 0.5em 1em;
  width: 100%;
  float: left; }
  .xlarge-block-grid-1 > li:nth-of-type(1n) {
    clear: none; }
  .xlarge-block-grid-1 > li:nth-of-type(1n+1) {
    clear: both; }

.xlarge-block-grid-2 > li {
  list-style: none;
  padding: 0 0.5em 1em;
  width: 50%;
  float: left; }
  .xlarge-block-grid-2 > li:nth-of-type(1n) {
    clear: none; }
  .xlarge-block-grid-2 > li:nth-of-type(2n+1) {
    clear: both; }

.xlarge-block-grid-3 > li {
  list-style: none;
  padding: 0 0.5em 1em;
  width: 33.33333%;
  float: left; }
  .xlarge-block-grid-3 > li:nth-of-type(1n) {
    clear: none; }
  .xlarge-block-grid-3 > li:nth-of-type(3n+1) {
    clear: both; }

.xlarge-block-grid-4 > li {
  list-style: none;
  padding: 0 0.5em 1em;
  width: 25%;
  float: left; }
  .xlarge-block-grid-4 > li:nth-of-type(1n) {
    clear: none; }
  .xlarge-block-grid-4 > li:nth-of-type(4n+1) {
    clear: both; }

.xlarge-block-grid-5 > li {
  list-style: none;
  padding: 0 0.5em 1em;
  width: 20%;
  float: left; }
  .xlarge-block-grid-5 > li:nth-of-type(1n) {
    clear: none; }
  .xlarge-block-grid-5 > li:nth-of-type(5n+1) {
    clear: both; }

.xlarge-block-grid-6 > li {
  list-style: none;
  padding: 0 0.5em 1em;
  width: 16.66667%;
  float: left; }
  .xlarge-block-grid-6 > li:nth-of-type(1n) {
    clear: none; }
  .xlarge-block-grid-6 > li:nth-of-type(6n+1) {
    clear: both; }

.xlarge-block-grid-7 > li {
  list-style: none;
  padding: 0 0.5em 1em;
  width: 14.28571%;
  float: left; }
  .xlarge-block-grid-7 > li:nth-of-type(1n) {
    clear: none; }
  .xlarge-block-grid-7 > li:nth-of-type(7n+1) {
    clear: both; }

.xlarge-block-grid-8 > li {
  list-style: none;
  padding: 0 0.5em 1em;
  width: 12.5%;
  float: left; }
  .xlarge-block-grid-8 > li:nth-of-type(1n) {
    clear: none; }
  .xlarge-block-grid-8 > li:nth-of-type(8n+1) {
    clear: both; }

.xlarge-block-grid-9 > li {
  list-style: none;
  padding: 0 0.5em 1em;
  width: 11.11111%;
  float: left; }
  .xlarge-block-grid-9 > li:nth-of-type(1n) {
    clear: none; }
  .xlarge-block-grid-9 > li:nth-of-type(9n+1) {
    clear: both; }

.xlarge-block-grid-10 > li {
  list-style: none;
  padding: 0 0.5em 1em;
  width: 10%;
  float: left; }
  .xlarge-block-grid-10 > li:nth-of-type(1n) {
    clear: none; }
  .xlarge-block-grid-10 > li:nth-of-type(10n+1) {
    clear: both; }

.xlarge-block-grid-11 > li {
  list-style: none;
  padding: 0 0.5em 1em;
  width: 9.09091%;
  float: left; }
  .xlarge-block-grid-11 > li:nth-of-type(1n) {
    clear: none; }
  .xlarge-block-grid-11 > li:nth-of-type(11n+1) {
    clear: both; }

.xlarge-block-grid-12 > li {
  list-style: none;
  padding: 0 0.5em 1em;
  width: 8.33333%;
  float: left; }
  .xlarge-block-grid-12 > li:nth-of-type(1n) {
    clear: none; }
  .xlarge-block-grid-12 > li:nth-of-type(12n+1) {
    clear: both; }

.xxlarge-block-grid-1 > li {
  list-style: none;
  padding: 0 0.5em 1em;
  width: 100%;
  float: left; }
  .xxlarge-block-grid-1 > li:nth-of-type(1n) {
    clear: none; }
  .xxlarge-block-grid-1 > li:nth-of-type(1n+1) {
    clear: both; }

.xxlarge-block-grid-2 > li {
  list-style: none;
  padding: 0 0.5em 1em;
  width: 50%;
  float: left; }
  .xxlarge-block-grid-2 > li:nth-of-type(1n) {
    clear: none; }
  .xxlarge-block-grid-2 > li:nth-of-type(2n+1) {
    clear: both; }

.xxlarge-block-grid-3 > li {
  list-style: none;
  padding: 0 0.5em 1em;
  width: 33.33333%;
  float: left; }
  .xxlarge-block-grid-3 > li:nth-of-type(1n) {
    clear: none; }
  .xxlarge-block-grid-3 > li:nth-of-type(3n+1) {
    clear: both; }

.xxlarge-block-grid-4 > li {
  list-style: none;
  padding: 0 0.5em 1em;
  width: 25%;
  float: left; }
  .xxlarge-block-grid-4 > li:nth-of-type(1n) {
    clear: none; }
  .xxlarge-block-grid-4 > li:nth-of-type(4n+1) {
    clear: both; }

.xxlarge-block-grid-5 > li {
  list-style: none;
  padding: 0 0.5em 1em;
  width: 20%;
  float: left; }
  .xxlarge-block-grid-5 > li:nth-of-type(1n) {
    clear: none; }
  .xxlarge-block-grid-5 > li:nth-of-type(5n+1) {
    clear: both; }

.xxlarge-block-grid-6 > li {
  list-style: none;
  padding: 0 0.5em 1em;
  width: 16.66667%;
  float: left; }
  .xxlarge-block-grid-6 > li:nth-of-type(1n) {
    clear: none; }
  .xxlarge-block-grid-6 > li:nth-of-type(6n+1) {
    clear: both; }

.xxlarge-block-grid-7 > li {
  list-style: none;
  padding: 0 0.5em 1em;
  width: 14.28571%;
  float: left; }
  .xxlarge-block-grid-7 > li:nth-of-type(1n) {
    clear: none; }
  .xxlarge-block-grid-7 > li:nth-of-type(7n+1) {
    clear: both; }

.xxlarge-block-grid-8 > li {
  list-style: none;
  padding: 0 0.5em 1em;
  width: 12.5%;
  float: left; }
  .xxlarge-block-grid-8 > li:nth-of-type(1n) {
    clear: none; }
  .xxlarge-block-grid-8 > li:nth-of-type(8n+1) {
    clear: both; }

.xxlarge-block-grid-9 > li {
  list-style: none;
  padding: 0 0.5em 1em;
  width: 11.11111%;
  float: left; }
  .xxlarge-block-grid-9 > li:nth-of-type(1n) {
    clear: none; }
  .xxlarge-block-grid-9 > li:nth-of-type(9n+1) {
    clear: both; }

.xxlarge-block-grid-10 > li {
  list-style: none;
  padding: 0 0.5em 1em;
  width: 10%;
  float: left; }
  .xxlarge-block-grid-10 > li:nth-of-type(1n) {
    clear: none; }
  .xxlarge-block-grid-10 > li:nth-of-type(10n+1) {
    clear: both; }

.xxlarge-block-grid-11 > li {
  list-style: none;
  padding: 0 0.5em 1em;
  width: 9.09091%;
  float: left; }
  .xxlarge-block-grid-11 > li:nth-of-type(1n) {
    clear: none; }
  .xxlarge-block-grid-11 > li:nth-of-type(11n+1) {
    clear: both; }

.xxlarge-block-grid-12 > li {
  list-style: none;
  padding: 0 0.5em 1em;
  width: 8.33333%;
  float: left; }
  .xxlarge-block-grid-12 > li:nth-of-type(1n) {
    clear: none; }
  .xxlarge-block-grid-12 > li:nth-of-type(12n+1) {
    clear: both; }

/*
* Visibility settings
*/
@media screen and (max-width: 0em), screen and (min-width: 40em) {
  .show-for-small-only {
    display: none; } }
@media screen and (max-width: 40em), screen and (min-width: 64em) {
  .show-for-medium-only {
    display: none; } }
@media screen and (max-width: 64em), screen and (min-width: 90em) {
  .show-for-large-only {
    display: none; } }
@media screen and (max-width: 90em), screen and (min-width: 120em) {
  .show-for-xlarge-only {
    display: none; } }
@media screen and (max-width: 120em) {
  .show-for-xxlarge-only {
    display: none; } }
@media screen and (min-width: 0em) and (max-width: 39.937em) {
  .hide-for-small-only {
    display: none; } }
@media screen and (min-width: 40em) and (max-width: 63.937em) {
  .hide-for-medium-only {
    display: none; } }
@media screen and (min-width: 64em) and (max-width: 89.937em) {
  .hide-for-large-only {
    display: none; } }
@media screen and (min-width: 90em) and (max-width: 119.937em) {
  .hide-for-xlarge-only {
    display: none; } }
@media screen and (min-width: 120em) {
  .hide-for-xxlarge-only {
    display: none; } }
@media screen and (max-width: 0em) {
  .show-for-small-up {
    display: none; } }
@media screen and (max-width: 40em) {
  .show-for-medium-up {
    display: none; } }
@media screen and (max-width: 64em) {
  .show-for-large-up {
    display: none; } }
@media screen and (max-width: 90em) {
  .show-for-xlarge-up {
    display: none; } }
@media screen and (max-width: 120em) {
  .show-for-xxlarge-up {
    display: none; } }
@media screen and (min-width: 0em) {
  .hide-for-small-up {
    display: none; }

  .show-for-small-up {
    display: inherit; } }
@media screen and (min-width: 40em) {
  .hide-for-medium-up {
    display: none; }

  .show-for-medium-up {
    display: inherit; } }
@media screen and (min-width: 64em) {
  .hide-for-large-up {
    display: none; }

  .show-for-large-up {
    display: inherit; } }
@media screen and (min-width: 90em) {
  .hide-for-xlarge-up {
    display: none; }

  .show-for-xlarge-up {
    display: inherit; } }
@media screen and (min-width: 120em) {
  .hide-for-xxlarge-up {
    display: none; }

  .show-for-xxlarge-up {
    display: inherit; } }
@media print {
  .hide-for-print,
  .hide-on-print {
    display: none; } }
@media not print {
  .show-for-print,
  .show-on-print {
    display: none; } }
.push-1 {
  position: relative;
  left: 7.90698%;
  right: auto; }

.pull-1 {
  position: relative;
  right: 7.90698%;
  left: auto; }

.push-2 {
  position: relative;
  left: 16.27907%;
  right: auto; }

.pull-2 {
  position: relative;
  right: 16.27907%;
  left: auto; }

.push-3 {
  position: relative;
  left: 24.65116%;
  right: auto; }

.pull-3 {
  position: relative;
  right: 24.65116%;
  left: auto; }

.push-4 {
  position: relative;
  left: 33.02326%;
  right: auto; }

.pull-4 {
  position: relative;
  right: 33.02326%;
  left: auto; }

.push-5 {
  position: relative;
  left: 41.39535%;
  right: auto; }

.pull-5 {
  position: relative;
  right: 41.39535%;
  left: auto; }

.push-6 {
  position: relative;
  left: 49.76744%;
  right: auto; }

.pull-6 {
  position: relative;
  right: 49.76744%;
  left: auto; }

.push-7 {
  position: relative;
  left: 58.13953%;
  right: auto; }

.pull-7 {
  position: relative;
  right: 58.13953%;
  left: auto; }

.push-8 {
  position: relative;
  left: 66.51163%;
  right: auto; }

.pull-8 {
  position: relative;
  right: 66.51163%;
  left: auto; }

.push-9 {
  position: relative;
  left: 74.88372%;
  right: auto; }

.pull-9 {
  position: relative;
  right: 74.88372%;
  left: auto; }

.push-10 {
  position: relative;
  left: 83.25581%;
  right: auto; }

.pull-10 {
  position: relative;
  right: 83.25581%;
  left: auto; }

.push-11 {
  position: relative;
  left: 91.62791%;
  right: auto; }

.pull-11 {
  position: relative;
  right: 91.62791%;
  left: auto; }

.push-12 {
  position: relative;
  left: 100%;
  right: auto; }

.pull-12 {
  position: relative;
  right: 100%;
  left: auto; }

@media screen and (min-width: 0em) {
  .small-push-1 {
    position: relative;
    left: 7.90698%;
    right: auto; }

  .small-pull-1 {
    position: relative;
    right: 7.90698%; }

  .small-push-2 {
    position: relative;
    left: 16.27907%;
    right: auto; }

  .small-pull-2 {
    position: relative;
    right: 16.27907%; }

  .small-push-3 {
    position: relative;
    left: 24.65116%;
    right: auto; }

  .small-pull-3 {
    position: relative;
    right: 24.65116%; }

  .small-push-4 {
    position: relative;
    left: 33.02326%;
    right: auto; }

  .small-pull-4 {
    position: relative;
    right: 33.02326%; }

  .small-push-5 {
    position: relative;
    left: 41.39535%;
    right: auto; }

  .small-pull-5 {
    position: relative;
    right: 41.39535%; }

  .small-push-6 {
    position: relative;
    left: 49.76744%;
    right: auto; }

  .small-pull-6 {
    position: relative;
    right: 49.76744%; }

  .small-push-7 {
    position: relative;
    left: 58.13953%;
    right: auto; }

  .small-pull-7 {
    position: relative;
    right: 58.13953%; }

  .small-push-8 {
    position: relative;
    left: 66.51163%;
    right: auto; }

  .small-pull-8 {
    position: relative;
    right: 66.51163%; }

  .small-push-9 {
    position: relative;
    left: 74.88372%;
    right: auto; }

  .small-pull-9 {
    position: relative;
    right: 74.88372%; }

  .small-push-10 {
    position: relative;
    left: 83.25581%;
    right: auto; }

  .small-pull-10 {
    position: relative;
    right: 83.25581%; }

  .small-push-11 {
    position: relative;
    left: 91.62791%;
    right: auto; }

  .small-pull-11 {
    position: relative;
    right: 91.62791%; }

  .small-push-12 {
    position: relative;
    left: 100%;
    right: auto; }

  .small-pull-12 {
    position: relative;
    right: 100%; }

  .small-reset-order {
    left: 0;
    right: 0; } }
@media screen and (min-width: 40em) {
  .medium-push-1 {
    position: relative;
    left: 7.90698%;
    right: auto; }

  .medium-pull-1 {
    position: relative;
    right: 7.90698%; }

  .medium-push-2 {
    position: relative;
    left: 16.27907%;
    right: auto; }

  .medium-pull-2 {
    position: relative;
    right: 16.27907%; }

  .medium-push-3 {
    position: relative;
    left: 24.65116%;
    right: auto; }

  .medium-pull-3 {
    position: relative;
    right: 24.65116%; }

  .medium-push-4 {
    position: relative;
    left: 33.02326%;
    right: auto; }

  .medium-pull-4 {
    position: relative;
    right: 33.02326%; }

  .medium-push-5 {
    position: relative;
    left: 41.39535%;
    right: auto; }

  .medium-pull-5 {
    position: relative;
    right: 41.39535%; }

  .medium-push-6 {
    position: relative;
    left: 49.76744%;
    right: auto; }

  .medium-pull-6 {
    position: relative;
    right: 49.76744%; }

  .medium-push-7 {
    position: relative;
    left: 58.13953%;
    right: auto; }

  .medium-pull-7 {
    position: relative;
    right: 58.13953%; }

  .medium-push-8 {
    position: relative;
    left: 66.51163%;
    right: auto; }

  .medium-pull-8 {
    position: relative;
    right: 66.51163%; }

  .medium-push-9 {
    position: relative;
    left: 74.88372%;
    right: auto; }

  .medium-pull-9 {
    position: relative;
    right: 74.88372%; }

  .medium-push-10 {
    position: relative;
    left: 83.25581%;
    right: auto; }

  .medium-pull-10 {
    position: relative;
    right: 83.25581%; }

  .medium-push-11 {
    position: relative;
    left: 91.62791%;
    right: auto; }

  .medium-pull-11 {
    position: relative;
    right: 91.62791%; }

  .medium-push-12 {
    position: relative;
    left: 100%;
    right: auto; }

  .medium-pull-12 {
    position: relative;
    right: 100%; }

  .medium-reset-order {
    left: 0;
    right: 0; } }
@media screen and (min-width: 64em) {
  .large-push-1 {
    position: relative;
    left: 7.90698%;
    right: auto; }

  .large-pull-1 {
    position: relative;
    right: 7.90698%; }

  .large-push-2 {
    position: relative;
    left: 16.27907%;
    right: auto; }

  .large-pull-2 {
    position: relative;
    right: 16.27907%; }

  .large-push-3 {
    position: relative;
    left: 24.65116%;
    right: auto; }

  .large-pull-3 {
    position: relative;
    right: 24.65116%; }

  .large-push-4 {
    position: relative;
    left: 33.02326%;
    right: auto; }

  .large-pull-4 {
    position: relative;
    right: 33.02326%; }

  .large-push-5 {
    position: relative;
    left: 41.39535%;
    right: auto; }

  .large-pull-5 {
    position: relative;
    right: 41.39535%; }

  .large-push-6 {
    position: relative;
    left: 49.76744%;
    right: auto; }

  .large-pull-6 {
    position: relative;
    right: 49.76744%; }

  .large-push-7 {
    position: relative;
    left: 58.13953%;
    right: auto; }

  .large-pull-7 {
    position: relative;
    right: 58.13953%; }

  .large-push-8 {
    position: relative;
    left: 66.51163%;
    right: auto; }

  .large-pull-8 {
    position: relative;
    right: 66.51163%; }

  .large-push-9 {
    position: relative;
    left: 74.88372%;
    right: auto; }

  .large-pull-9 {
    position: relative;
    right: 74.88372%; }

  .large-push-10 {
    position: relative;
    left: 83.25581%;
    right: auto; }

  .large-pull-10 {
    position: relative;
    right: 83.25581%; }

  .large-push-11 {
    position: relative;
    left: 91.62791%;
    right: auto; }

  .large-pull-11 {
    position: relative;
    right: 91.62791%; }

  .large-push-12 {
    position: relative;
    left: 100%;
    right: auto; }

  .large-pull-12 {
    position: relative;
    right: 100%; }

  .large-reset-order {
    left: 0;
    right: 0; } }
@media screen and (min-width: 90em) {
  .xlarge-push-1 {
    position: relative;
    left: 7.90698%;
    right: auto; }

  .xlarge-pull-1 {
    position: relative;
    right: 7.90698%; }

  .xlarge-push-2 {
    position: relative;
    left: 16.27907%;
    right: auto; }

  .xlarge-pull-2 {
    position: relative;
    right: 16.27907%; }

  .xlarge-push-3 {
    position: relative;
    left: 24.65116%;
    right: auto; }

  .xlarge-pull-3 {
    position: relative;
    right: 24.65116%; }

  .xlarge-push-4 {
    position: relative;
    left: 33.02326%;
    right: auto; }

  .xlarge-pull-4 {
    position: relative;
    right: 33.02326%; }

  .xlarge-push-5 {
    position: relative;
    left: 41.39535%;
    right: auto; }

  .xlarge-pull-5 {
    position: relative;
    right: 41.39535%; }

  .xlarge-push-6 {
    position: relative;
    left: 49.76744%;
    right: auto; }

  .xlarge-pull-6 {
    position: relative;
    right: 49.76744%; }

  .xlarge-push-7 {
    position: relative;
    left: 58.13953%;
    right: auto; }

  .xlarge-pull-7 {
    position: relative;
    right: 58.13953%; }

  .xlarge-push-8 {
    position: relative;
    left: 66.51163%;
    right: auto; }

  .xlarge-pull-8 {
    position: relative;
    right: 66.51163%; }

  .xlarge-push-9 {
    position: relative;
    left: 74.88372%;
    right: auto; }

  .xlarge-pull-9 {
    position: relative;
    right: 74.88372%; }

  .xlarge-push-10 {
    position: relative;
    left: 83.25581%;
    right: auto; }

  .xlarge-pull-10 {
    position: relative;
    right: 83.25581%; }

  .xlarge-push-11 {
    position: relative;
    left: 91.62791%;
    right: auto; }

  .xlarge-pull-11 {
    position: relative;
    right: 91.62791%; }

  .xlarge-push-12 {
    position: relative;
    left: 100%;
    right: auto; }

  .xlarge-pull-12 {
    position: relative;
    right: 100%; }

  .xlarge-reset-order {
    left: 0;
    right: 0; } }
@media screen and (min-width: 120em) {
  .xxlarge-push-1 {
    position: relative;
    left: 7.90698%;
    right: auto; }

  .xxlarge-pull-1 {
    position: relative;
    right: 7.90698%; }

  .xxlarge-push-2 {
    position: relative;
    left: 16.27907%;
    right: auto; }

  .xxlarge-pull-2 {
    position: relative;
    right: 16.27907%; }

  .xxlarge-push-3 {
    position: relative;
    left: 24.65116%;
    right: auto; }

  .xxlarge-pull-3 {
    position: relative;
    right: 24.65116%; }

  .xxlarge-push-4 {
    position: relative;
    left: 33.02326%;
    right: auto; }

  .xxlarge-pull-4 {
    position: relative;
    right: 33.02326%; }

  .xxlarge-push-5 {
    position: relative;
    left: 41.39535%;
    right: auto; }

  .xxlarge-pull-5 {
    position: relative;
    right: 41.39535%; }

  .xxlarge-push-6 {
    position: relative;
    left: 49.76744%;
    right: auto; }

  .xxlarge-pull-6 {
    position: relative;
    right: 49.76744%; }

  .xxlarge-push-7 {
    position: relative;
    left: 58.13953%;
    right: auto; }

  .xxlarge-pull-7 {
    position: relative;
    right: 58.13953%; }

  .xxlarge-push-8 {
    position: relative;
    left: 66.51163%;
    right: auto; }

  .xxlarge-pull-8 {
    position: relative;
    right: 66.51163%; }

  .xxlarge-push-9 {
    position: relative;
    left: 74.88372%;
    right: auto; }

  .xxlarge-pull-9 {
    position: relative;
    right: 74.88372%; }

  .xxlarge-push-10 {
    position: relative;
    left: 83.25581%;
    right: auto; }

  .xxlarge-pull-10 {
    position: relative;
    right: 83.25581%; }

  .xxlarge-push-11 {
    position: relative;
    left: 91.62791%;
    right: auto; }

  .xxlarge-pull-11 {
    position: relative;
    right: 91.62791%; }

  .xxlarge-push-12 {
    position: relative;
    left: 100%;
    right: auto; }

  .xxlarge-pull-12 {
    position: relative;
    right: 100%; }

  .xxlarge-reset-order {
    left: 0;
    right: 0; } }
.centered {
  margin-left: auto;
  margin-right: auto; }

@media screen and (min-width: 0em) {
  .small-centered {
    margin-left: auto;
    margin-right: auto; }

  .small-uncentered {
    margin-left: 0;
    margin-right: 0; } }
@media screen and (min-width: 40em) {
  .medium-centered {
    margin-left: auto;
    margin-right: auto; }

  .medium-uncentered {
    margin-left: 0;
    margin-right: 0; } }
@media screen and (min-width: 64em) {
  .large-centered {
    margin-left: auto;
    margin-right: auto; }

  .large-uncentered {
    margin-left: 0;
    margin-right: 0; } }
@media screen and (min-width: 90em) {
  .xlarge-centered {
    margin-left: auto;
    margin-right: auto; }

  .xlarge-uncentered {
    margin-left: 0;
    margin-right: 0; } }
@media screen and (min-width: 120em) {
  .xxlarge-centered {
    margin-left: auto;
    margin-right: auto; }

  .xxlarge-uncentered {
    margin-left: 0;
    margin-right: 0; } }

/*# sourceMappingURL=style.css.map */
