//  Used in breakpoint loops

$breakpoints: (
	small: 0em, // 0px
	medium: 40em, // 640px
	large: 64em, // 1024px
	xlarge: 90em, // 1440px
	xxlarge: 120em // 1920px
	);

$adaptive: true;
 // changes the container to be 100% to set widths based on the screen size. 100% widths are still available by simply not applying the .container class to the element


//
// Main Grid Settings
//
$grid: true;
$non-media_grids: false; // allow a standard grid to render
$media_grids: true; // allow media based grids to render
$grid__column-count	: 12;
$grid__gutter-width	: 5px; // context is worked out in px, then converted to % */
$grid__column-width	: 85px; // context is worked out in px, then converted to % */
$row-padding: 0 1em;


//
// Block grid settings
//
$block-grid: true; // Render block grids
$include-spacing: true;
$spacing: 1em;

//
// Visibility settings
//
$visibility-for: true;


//
// Additional Positioning
//
$m-push-pull: true;
$nm-push-pull: true;
$centered : true;



* {
	box-sizing: border-box;
}

html {
	font-family: Arial, Helvetica, sans-serif;
}