///////////////////////////////
// Media Query Map functions //
///////////////////////////////
// Finds the next value in the given map, from the current position
@function nextKey($current-value, $mapped-list:$breakpoints) {
	// get current key from list

	$the-list: map-keys($mapped-list);

	@if ( $the-list ) {
		@if ( length( $mapped-list ) > index( $the-list, $current-value) ) {
			//find index of current value and add 1
			$the-index: ( index( $the-list, $current-value) ) + 1;

			// get value from list with new index
			$new-value : nth($the-list, $the-index);

			@return $new-value;

		} @else {
			@return false;

		}
	} @else  {
		@error "Sorry but #{$mapped-list} is not a list of breakpoints in your setup";

	}



}

// Finds the previous value in the given map, from the current position
@function prevKey($current-value, $mapped-list:$breakpoints) {
	// get current key from list

	$the-list: map-keys($mapped-list);

	@if ( $the-list ) {
		//find index of current value and add 1
		$the-index: ( index( $the-list, $current-value) ) - 1 ;

		$new-value : 0;

		@if ( $the-index >  0 ) {

			// get value from list with new index
			$new-value : nth($the-list, $the-index);

		} @else {

			$new-value: false;
		}

		@return $new-value;

	} @else  {
		@error "Sorry but #{$mapped-list} is not a list of breakpoints in your setup";

	}

}


// Createse Context to be used in the target grid of each loop
@function gridContext($g-col-count, $g-col-w, $g-gutter-w) {
	$g-context: ( $g-col-count * $g-col-w ) + ( ( $g-col-count - 1 ) * $g-gutter-w  );
	@return $g-context;
}