//////////////////
// Media mixins //
//////////////////
// used to set grid rules that only go up to the next breakpoint
@mixin media( $breakpoint, $breakpoints:$breakpoints ) {
	// turn the 
	$mapped__keys : map-keys($breakpoints);
	$index : index($mapped__keys, $breakpoint);
	
	@if $mapped__keys {
		@if $index {
			@if $index < length($breakpoints) {
				@media screen and (min-width : map-get($breakpoints, $breakpoint ) ) and ( max-width: map-get($breakpoints, nextKey($breakpoint) ) - 0.063em ) {
					@content; // Allows content to be added

				}
			}
			@elseif $index == length($breakpoints) {
				@media screen and (min-width : map-get($breakpoints, $breakpoint) ) {
					@content; // Allows content to be added

				}
			}
		} @else {
			@error "Sorry but #{$breakpoint} is not a breakpoint in your setup";

		}
	} @else {
		@error "Sorry but #{$breakpoints} is not a list of breakpoints in your setup";

	}
}

// used to set rules where the action is to be performed on all breakpoints except the current range
@mixin media_tween( $breakpoint, $breakpoints:$breakpoints ) {
	$mapped__keys : map-keys($breakpoints);
	$index : index($mapped__keys, $breakpoint);
	
	@if $mapped__keys {
		@if $index {
			@if $index != length( $breakpoints ) {
				@media screen and ( max-width: map-get( $breakpoints, $breakpoint ) ),
				 screen and ( min-width: map-get( $breakpoints, nextKey($breakpoint) ) ) {
					@content;

				}
			} @else {
				@media screen and ( max-width: map-get($breakpoints, $breakpoint) ) {
					@content;

				}
			}
		} @else {
		@error "Sorry but #{$breakpoint} is not a breakpoint in your setup";

		}

	} @else {
		@error "Sorry but #{$breakpoints} is not a list of breakpoints in your setup";

	}
}

// Used in anything that needs to be applied from a given breakpoint up 
@mixin media_up( $breakpoint, $breakpoints:$breakpoints ) {
	$mapped__keys : map-keys($breakpoints);
	$index : index($mapped__keys, $breakpoint);
	
	@if $mapped__keys {
		@if $index {
			@media screen and (min-width : map-get($breakpoints, $breakpoint ) )  {
				@content; // Allows content to be added

			}
		} @else {
			@error "Sorry but #{$breakpoint} is not a breakpoint in your setup";

		}

	} @else {
		@error "Sorry but #{$breakpoints} is not a list of breakpoints in your setup";

	}
}

// Used in anything that needs to be applied from a given breakpoint up 
@mixin media_down( $breakpoint, $breakpoints:$breakpoints ) {
	$mapped__keys : map-keys($breakpoints);
	$index : index($mapped__keys, $breakpoint);
	
	@if $mapped__keys {
		@if $index {
			@if $breakpoint {
				@media screen and (max-width : map-get($breakpoints, $breakpoint ) )  {
					@content; // Allows content to be added

				}
			}

		} @else {
			@error "Sorry but #{$breakpoint} is not a breakpoint in your setup";

		}	

	} @else {
		@error "Sorry but #{$breakpoints} is not a list of breakpoints in your setup";

	}
}


//