////////////////////
// The Block Loops //
////////////////////

// Loop through each media query (sm, med, lg)
// get the column count (12)
// write a rule for each given count (1->12)

@if ($block-grid) {

	ul[class*="-block-grid-"] {
		padding-left:0;
		@extend %cf;
	}

	@each $key, $value in $breakpoints {
		@if ( $block-grid ) {

			// Block grid
			@for $i from 1 through $grid__column-count {
				.#{$key}-block-grid-#{($i)} {
				    > li {
				      list-style: none;
				      @if $include-spacing {
				        padding: 0 ($spacing/2) $spacing;
				      }
				      width: 100%/$i;
				      float: left;

				      &:nth-of-type(1n) { clear: none; }
				      &:nth-of-type(#{$i}n+1) { clear: both; }
				    }
				}
			}
		}
	}	
}	