@if ( $grid ) {

	@each $key, $value in $breakpoints {

		@include media_up($key) {
			@if ( $media_grids ) {

				// Media grids
				@for $i from 1 through $grid__column-count {
					$context: gridContext($grid__column-count, $grid__column-width, $grid__gutter-width);
					$target: ( $i * $grid__column-width ) + ( ( $i - 1 ) * $grid__gutter-width );


					.#{$key}-#{$i} {
						width: percentage($target/$context);
					}
				}
			}
		}
	}


	// Non-media grids
	@if ( $non-media_grids ) {
		// Non-media based grid
		@for $i from 1 through $grid__column-count {
			$context: gridContext($grid__column-count, $grid__column-width, $grid__gutter-width);
			$target: ( $i * $grid__column-width ) + ( ( $i - 1 ) * $grid__gutter-width );
		   // if config var is set to true, enables placeholders for grids

		   // if config var is set to true, enables classes for grids
			.grid-#{$i} {
				width: percentage($target/$context);
			}
		}
	}
	
	.row {
		@if ( $adaptive == true ) {
			@each $key, $value in $breakpoints {
				@include media_up( $key ) {
					@if ( $value == 1px ) {
						width: 100%;
					} @else {
						width: $value;
					}
					margin-left: auto;
					margin-right: auto;
				}
			}
		} @else {
			width: 100%;
		}
	}

	.row {
		@extend %cf;
		> .column, > .columns {
			float: left;
			display: block;
			&:last-of-type {
				float: right;
			}
			&.end {
				float: left;
			}
		}

		@if ( $row-padding ) {
			padding: $row-padding;
		}

		.row {
			margin-left: 0;
			margin-right: 0;
			width: 100%;
		}
	}
	
}