// Non-media grids

@if ( $nm-push-pull ) {
	// Non-media based grid
	@for $i from 1 through $grid__column-count {
		$context: gridContext($grid__column-count, $grid__column-width, $grid__gutter-width);
		$target: ( $i * $grid__column-width ) + ( ( $i - 1 ) * $grid__gutter-width );
	   // if config var is set to true, enables placeholders for grids

	   // if config var is set to true, enables classes for grids
		.push-#{$i} {
			position: relative;
			left: percentage($target/$context);
			right: auto;
		}
		.pull-#{$i} {
			position: relative;
			right: percentage($target/$context);
			left: auto;
		}
	}
}


@if ( $m-push-pull ) {
	@each $key, $value in $breakpoints {

		@include media_up($key) {
			@if ( $media_grids ) {

				// Media grids
				@for $i from 1 through $grid__column-count {
					$context: gridContext($grid__column-count, $grid__column-width, $grid__gutter-width);
					$target: ( $i * $grid__column-width ) + ( ( $i - 1 ) * $grid__gutter-width );

					.#{$key}-push-#{$i} {
						position: relative;
						left: percentage($target/$context);
						right: auto;
					}

					.#{$key}-pull-#{$i} {
						position: relative;
						right: percentage($target/$context);
					
					}
				}

				.#{$key}-reset-order {
					left: 0;
					right: 0;
				}

			}
		}
	}
}

@if ( $centered ) {

	.centered {
		margin-left: auto;
		margin-right: auto;
	}


	@each $key, $value in $breakpoints {

		@include media_up($key) {

			.#{$key}-centered {
				margin-left: auto;
				margin-right: auto;
			}

			.#{$key}-uncentered {
				margin-left: 0;
				margin-right: 0;
			}
		}
	}
}