
/*
* Visibility settings
*/

@each $key, $value in $breakpoints {
	// Display settings for any query that is not within
	// the current breakpoint -> next range
	@include media_tween($key) {

		.show-for-#{$key}-only {
			display: none;
		}
	}
}

@each $key, $value in $breakpoints {
	// Visibility classes that show/ hide within a
	// particular query range
	@include media($key) {

		@if ( $visibility-for ) {

			@if ( $key ) {

				// Visibility up options		
				.hide-for-#{$key}-only {
					display: none;
				}	
			}
		}
	}
}

@each $key, $value in $breakpoints {
	@include media_down( $key ) {
		@if ( $visibility-for ) {

			.show-for-#{$key}-up {
				display: none;
			}
		}	
	}
}


@each $key, $value in $breakpoints {
	@include media_up( $key ) {
		@if ( $visibility-for ) {
			// Visibility up options		
			.hide-for-#{$key}-up {
				display: none;
			}

			.show-for-#{$key}-up {
				display: inherit;
			}
		}	
	}
}

@media print {
	.hide-for-print,
	.hide-on-print {
		display: none;
	}
}

@media not print {
	.show-for-print,
	.show-on-print {
		display: none;
	}
}







